curl https://github.com/learningequality/ka-lite/graphs/clone-activity-data > {{ ka_lite_central_path }}/data/logs/github/`date +"%Y_%m_%d"`-clone-activity-data.json
curl https://github.com/learningequality/ka-lite/graphs/traffic-data > {{ ka_lite_central_path }}/data/logs/github/`date +"%Y_%m_%d"`-traffic-data.json