Listen {{ keep_kalite_port }}

<VirtualHost *:{{ keep_kalite_port }}>

    ServerName kalite.learningequality.org

    Alias /static {{ ka_lite_path }}/kalite/static
    Alias /media {{ ka_lite_path }}/kalite/media
    Alias /favicon.ico {{ ka_lite_path }}/kalite/static/images/favicon.ico

    <Directory {{ ka_lite_path }}/kalite>
        Order deny,allow
        Allow from all
    </Directory>

    WSGIScriptAlias / {{ ka_lite_path }}/kalite/ka-lite.wsgi

</VirtualHost>
