from contentcuration.settings import *

MEDIA_ROOT = "/var/www/{{ content_curation_prefix }}_media/media/"
STATIC_ROOT = "/var/www/{{ content_curation_prefix }}_static/"

MEDIA_URL = "/media/"
CONTENT_COPY_DIR = MEDIA_ROOT

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '/tmp/django.log',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'DEBUG',
            'propagate': True,
        },
    },
}