server {

    listen {{ nginx_listen_port }};

    location /downloads {
        alias {{ download_folder_location }};
        autoindex on;
    }

    location /old_downloads {
        alias {{ old_download_folder_location }};
        autoindex on;
    }


    location /favicon.ico {
        empty_gif;
    }

}
