Listen {{ citadel_flesite_port }}

<VirtualHost *:{{ citadel_flesite_port }}>

    Alias /static/admin {{ django_location.stdout }}/contrib/admin/static/admin
    Alias /static {{ fle_site_path }}/_static_cache

    Alias /presentation {{ ka_lite_presentation_path }}

    <Directory {{ fle_site_path }}/fle_site>
        Order deny,allow
        Allow from all
    </Directory>

    <Directory {{ ka_lite_presentation_path }}>
        Order deny,allow
        Allow from all
    </Directory>

    WSGIScriptAlias / {{ fle_site_path }}/fle_site/wsgi.py

</VirtualHost>