Listen {{ citadel_flesite_port }}

<VirtualHost *:{{ citadel_flesite_port }}>

    Alias /static/admin {{ django_location.stdout }}/contrib/admin/static/admin
    Alias /static {{ fle_site_path }}/fle_site/static
    Alias /media {{ fle_site_path }}/fle_site/media
    # Alias /favicon.ico /home/ubuntu/ka-lite/kalite/static/images/favicon.ico

    # Alias /presentation /home/ubuntu/ka-lite-presentation

    <Directory {{ fle_site_path }}/fle_site>
        Order deny,allow
        Allow from all
    </Directory>

    WSGIScriptAlias / {{ fle_site_path }}/fle_site/wsgi.py

</VirtualHost>