Listen {{ citadel_flehome_port }}

<VirtualHost *:{{ citadel_flehome_port }}>

    Alias /static/admin {{ django_location.stdout }}/contrib/admin/static/admin
    Alias /static {{ fle_home_path }}/_static_cache
    Alias /media {{ fle_home_path }}/fle_site/media

    Alias /presentation {{ ka_lite_presentation_path }}

    <Directory {{ fle_home_path }}/fle_site>
        Order deny,allow
        Allow from all
    </Directory>

    <Directory {{ ka_lite_presentation_path }}>
        Order deny,allow
        Allow from all
    </Directory>

    WSGIScriptAlias / {{ fle_home_path }}/fle_site/wsgi.py

</VirtualHost>