---
- name: restart apache2
  service: name=apache2 state=restarted
  sudo: yes
- name: restart nginx
  service: name=nginx state=restarted
  sudo: yes
- name: restart varnish
  service: name=varnish state=restarted
  sudo: yes
- name: clear varnish cache
  command: varnishadm 'ban req.url ~ /'
  sudo: yes
- name: restart ssh
  service: name=ssh state=restarted
  sudo: yes
