---

- name: Package prerequisites for node.js
  apt: pkg=python-software-properties state=installed
  sudo: yes

- name: Add the node.js PPA
  command: add-apt-repository -y ppa:chris-lea/node.js creates=/etc/apt/sources.list.d/chris-lea-node_js-precise.list
  register: add_node_ppa
  sudo: yes

- name: Update apt cache.
  command: apt-get update
  when: add_node_ppa.changed
  sudo: yes

- name: Install nodejs (with npm).
  apt: pkg=nodejs state=installed
  sudo: yes

- name: Install required Node.js packages.
  npm: name={{ item }} global=yes
  with_items:
    - grunt-cli
  sudo: yes

- name: Create the /var/www directory and set it as belonging to the www-data user.
  file: dest=/var/www owner=www-data state=directory
  sudo: yes

- name: Clone the FLE Home git repository and checkout the desired branch.
  git: repo=https://github.com/fle-internal/fle-home.git version={{ fle_home_git_branch }} dest={{ fle_home_path }} update=true
  sudo: yes
  sudo_user: www-data
  register: flehome_clone
  notify: restart apache2
  tags:
    - update_fle_home

#- name: Manually switch the branch, since git submodule doesn't always do it.
#  shell: git checkout {{ fle_home_git_branch }} chdir={{ fle_home_path }}
#  sudo: yes
#  sudo_user: www-data
#  notify: restart apache2
#  tags:
#    -- update_fle_home

#- name: Manually pull the latest code, since git submodule doesn't always do it.
#  shell: git pull origin {{ fle_home_git_branch }} chdir={{ fle_home_path }}
#  sudo: yes
#  sudo_user: www-data
#  notify: restart apache2
#  tags:
#    -- update_fle_home

- name: Install required Node.js packages.
  npm: name={{ item }} path={{ fle_home_path }}
  with_items:
    - grunt
    - less
    - grunt-contrib-less
  sudo: yes
  sudo_user: www-data

- name: Compile the static KA Lite resources by running the Gruntfile.
  command: grunt chdir={{ fle_home_path }}
  sudo: yes
  sudo_user: www-data
  changed_when: False
  when: flehome_clone.changed
  tags:
    - update_fle_home

- name: Put the local_settings.py file into the FLE Site project directory.
  template: src=local_settings.py.j2 dest={{ fle_home_path }}/fle_site/local_settings.py owner=www-data
  sudo: yes
  notify: restart apache2
  tags:
    - update_fle_home

- name: Ensure a local_settings_secret.py file exists.
  sudo: yes
  sudo_user: www-data
  command: touch {{ fle_home_path }}/fle_site/local_settings_secrets.py creates={{ fle_home_path }}/fle_site/local_settings_secrets.py
  tags:
    - update_fle_home

- name: Update the SECRET_KEY in local_settings_secret.py if variable 'fle_home_secret_key' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^SECRET_KEY =' line='SECRET_KEY = "{{ fle_home_secret_key }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: fle_home_secret_key is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Update the CONSTANT_CONTACT_API_KEY in local_settings_secret.py if variable 'constant_contact_api_key' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^CONSTANT_CONTACT_API_KEY =' line='CONSTANT_CONTACT_API_KEY = "{{ constant_contact_api_key }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: constant_contact_api_key is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Update the CONSTANT_CONTACT_ACCESS_TOKEN in local_settings_secret.py if variable 'constant_contact_access_token' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^CONSTANT_CONTACT_ACCESS_TOKEN =' line='CONSTANT_CONTACT_ACCESS_TOKEN = "{{ constant_contact_access_token }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: constant_contact_access_token is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Update the DATABASE_PASSWORD in local_settings_secret.py if variable 'fle_home_db_pass' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^DATABASE_PASSWORD =' line='DATABASE_PASSWORD = "{{ fle_home_db_pass }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: fle_home_db_pass is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Update the DISQUS_USER_API_KEY in local_settings_secret.py if variable 'disqus_user_api_key' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^DISQUS_USER_API_KEY =' line='DISQUS_USER_API_KEY = "{{ disqus_user_api_key }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: disqus_user_api_key is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Update the STRIPE_SECRET_API_KEY in local_settings_secret.py if variable 'stripe_secret_api_key' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^STRIPE_SECRET_API_KEY =' line='STRIPE_SECRET_API_KEY = "{{ stripe_secret_api_key }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: stripe_secret_api_key is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Update the STRIPE_PUBLISHABLE_API_KEY in local_settings_secret.py if variable 'stripe_publishable_api_key' is defined.
  lineinfile: dest={{ fle_home_path }}/fle_site/local_settings_secrets.py regexp='^STRIPE_PUBLISHABLE_API_KEY =' line='STRIPE_PUBLISHABLE_API_KEY = "{{ stripe_publishable_api_key }}"' owner="www-data"
  sudo: yes
  sudo_user: www-data
  when: stripe_publishable_api_key is defined
  notify: restart apache2
  tags:
    - update_fle_home

- name: Create the data directory and set it as belonging to the www-data user.
  file: dest={{ fle_home_path }}/fle_site/data owner=www-data state=directory
  sudo: yes

- name: Copy GeoLiteCity file onto server.
  copy: src=GeoLiteCity.dat dest={{ fle_home_path }}/fle_site/data/GeoLiteCity.dat
  sudo: yes
  sudo_user: www-data

- name: Install Python package requirements
  pip: requirements={{ fle_home_path }}/requirements.txt
  sudo: yes

- name: Find the location of the installed Django package.
  command: "python -c 'import os, django; print os.path.dirname(django.__file__)'"
  register: django_location
  changed_when: False

- name: Setup general Apache config file.
  template: src=apache2.conf.j2 dest=/etc/apache2/apache2.conf
  sudo: yes
  notify: restart apache2

- name: Setup Apache ports config file.
  template: src=apache-ports.conf.j2 dest=/etc/apache2/ports.conf
  sudo: yes
  notify: restart apache2

- name: Setup FLE Site Apache site conf file.
  template: src=fle-site-apache2-site.j2 dest=/etc/apache2/sites-available/002-fle_site
  sudo: yes
  notify: restart apache2

- name: Enable the FLE Site Apache site.
  file: dest=/etc/apache2/sites-enabled/002-fle_site src=/etc/apache2/sites-available/002-fle_site state=link
  sudo: yes
  notify: restart apache2

- name: Remove default dummy Apache conf file.
  file: dest=/etc/apache2/sites-enabled/000-default state=absent
  sudo: yes
  notify: restart apache2

- name: Clear any old pyc files left over from an old branch or version.
  shell: "{{ fle_home_path }}/manage.py clean_pyc"
  sudo: yes
  changed_when: False
  tags:
    - update_fle_home

- name: Run syncdb on FLE Site database to ensure it is initialized.
  shell: "{{ fle_home_path }}/manage.py syncdb --noinput"
  register: syncdb
  changed_when: "'Creating table ' in syncdb.stdout"
  tags:
    - update_fle_home

- name: Migrate FLE Site database to latest schema.
  shell: "{{ fle_home_path }}/manage.py migrate --merge"
  register: migrate
  changed_when: "'Migrating forwards' in migrate.stdout"
  tags:
    - update_fle_home

- name: Run collectstatic to consolidate static files from all apps.
  shell: "{{ fle_home_path }}/manage.py collectstatic --noinput"
  sudo: yes
  sudo_user: www-data
  tags:
    - update_fle_home

- name: Create Django superuser for FLE Site if needed.
  shell: "{{ fle_home_path }}/manage.py createsuperuser --email=admin@learningequality.org --username={{ fle_home_django_superuser_name }} --noinput"
  when: fle_home_django_superuser_name is defined
  register: createsuperuser
  changed_when: "'Duplicate entry' not in createsuperuser.stderr"
  failed_when: "createsuperuser.stderr and 'Duplicate entry' not in createsuperuser.stderr"

- name: Set Django superuser password for FLE Site if needed.
  shell: "echo 'from django.contrib.auth.models import User; u = User.objects.get(username=\"{{ fle_home_django_superuser_name }}\"); print \"same_password\" if u.check_password(\"{{ fle_home_django_superuser_pass }}\") else \"changed_password\"; u.set_password(\"{{ fle_home_django_superuser_pass }}\"); u.save()' | {{ fle_home_path }}/manage.py shell"
  when: fle_home_django_superuser_name is defined and fle_home_django_superuser_pass is defined
  register: setpassword
  changed_when: "'changed_password' in setpassword.stdout"

#- name: Load fixture 1.
#  shell: "{{ fle_home_path }}/manage.py loaddata faq.json"

#- name: Load fixture 2.
#  shell: "{{ fle_home_path }}/manage.py loaddata user_guides.json"

- name: Clone the KA Lite presentation and checkout the desired branch.
  git: repo=https://github.com/jamalex/ka-lite-presentation.git version={{ ka_lite_presentation_git_branch }} dest={{ ka_lite_presentation_path }} update=true
  sudo: yes
  sudo_user: www-data
  notify: restart apache2

- name: Check whether old fle-site media directory exists.
  stat: path=/var/www/fle-site/fle_site/media
  register: check_fle_site_media_path

- name: Copy uploaded media files from old fle-site location.
  shell: "rsync -i --recursive --update /var/www/fle-site/fle_site/media {{ fle_home_path }}/fle_site/"
  register: rsync
  sudo: yes
  sudo_user: www-data
  changed_when: "rsync.stdout"
  when: check_fle_site_media_path.stat.exists

- name: Create cron job to download user resource files hourly.
  cron: 'name="download user resources" minute="0" job="{{ fle_home_path }}/manage.py download_user_resource_files" user=www-data'
  sudo: yes
  sudo_user: www-data

- name: Ensure the /var/backups/mysql directory exists and set it as belonging to the root user.
  file: dest=/var/backups/mysql owner=root state=directory
  sudo: yes

- name: Create cron job to back up the database.
  cron: 'name="back up the fle_home database" minute="0" hour="3,15" job="mysqldump -h {{ db_server_host }} -u {{ fle_home_db_user }} -p{{ fle_home_db_pass }} {{ fle_home_db_name }} --single-transaction --quick | gzip > /var/backups/mysql/fle_home_`date +\%Y-\%m-\%d_\%H-\%M-\%S`.sql.gz" user=root'
  when: fle_home_db_pass is defined
  sudo: yes